/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* contenitore principale  */
.container {
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 20px;
}

/* riga  */
.row {
    width: 100%;
    margin-bottom: 5px;
}

/* prodotto */
.product {
    width: calc(100% / 3 - 3px);
    position: relative;
    display: inline-block;
}

/* immagini */
.img1 {
    width: 100%;
    display: block;
}

.img2 {
    width: 100%;
    display: none;
}

/* effetto cambio immagine con hover  */
.change-image:hover .img1 {
     display: none;
}

.change-image:hover .img2 {
     display: block;
}

/* cuore */
.heart {
    background-color: white;
    position: absolute;
    bottom: 510px;
    right: 0;
    width: 27px;
    height: 22px;
    text-align: center;
    line-height: 22px;
}

/* etichetta sconto  */
.discount {
    background-color: #EB0037;
    width: 40px;
    height: 25px;
    text-align: center;
    color: white;
    line-height: 25px;
    position: absolute;
    bottom: 60px;
    font-size: 10px;
}

.discount.sustenibility {
    background-color: green;
    left: 42px;
    width: 70px;
}

/* marca prodotto  */
.brand {
    font-size: 15px;
}

.info-item {
    font-weight: bold;
}

/* prezzo prodotto  */

.price {
    color: red;
}

.initial-price {
    text-decoration: line-through;
    color: black;
    font-weight: 500;
}

/* etichetta  */
#sustenibility2 {
    background-color: green;
    width: 70px;
}
